@font-face {
    font-family: 'metroregular';
    src: url('Metro-webfont.eot');
    src: url('Metro-webfont.eot?#iefix') format('embedded-opentype'),
         url('Metro-webfont.woff') format('woff'),
         url('Metro-webfont.ttf') format('truetype'),
         url('Metro-webfont.svg#metroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  text-align: center;
  font-family: metroregular;
  font-size: 75px;
  color: white;
  margin-botton: 20px;
}

body {
  background-color: black;
}
#clear{
  width: 100px;
  font-size: 25px;
  margin: 5px;
  margin-top: 25px;
  padding: 10px;
  border: none;
  background-color: #CBA72D;
  box-shadow: 2px 2px black;
}
#submit{
  width: 100px;
  font-size: 25px;
  margin: 5px;
  margin-top: 25px;
  padding: 10px;
  border: none;
  background-color: #CBA72D;
  box-shadow: 2px 2px black;
}

#start-button {
  background-color: blue;
  font-size: 20px;
  color: white;
  border: none;
  padding: 20px;
  margin-top: 20px;
}

#start-button:hover {
  background-color: gray;
}

#start-screen {
  margin-top: 25%;
  text-align: center;
}
#game {
  display: none;
}
#lose-modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#win-modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-header{
  background-color: ;
}
.modal-body{
  background-color: ;
}
.modal-footer{
  background-color: ;
}
#red {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#green {
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#blue {
  background-color: blue;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#yellow {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#purple {
  background-color: purple;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#orange {
  background-color: orange;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.colors{
  border: 1px solid darkgray;
  margin-top: 10px;
  box-shadow: 1px 1px gray;
}

.gameBoard {
 margin-left: 25%;
  background-color: lightgray;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  width: 600px;
}

.emptyCircle {
  margin: 5px;
  background-color: gray;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 1px 1px black;
}

#pegResult {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 2px;
  background-color: #BEBEBE;
  padding: 5px;
  padding-top: 10px;
  border-radius: 2px;
  width: 85px;
}

#stagingBoard {
  margin-top: 20px;
  background-color: 		#BEBEBE;
  padding: 20px;
  border-radius: 10px;
}

.pegCircle {
  background-color: #484848;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
}

.whitePeg {
  border: 3px solid #00FF00;
  background-color: white;
}

#board {
  background-color: brown;
  text-align: center;
  display: none;
}
