#start-screen {
  margin-top: 25%;
  text-align: center;
}
#game {
  display: none;
}

.red {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

#red {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#green {
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#blue {
  background-color: blue;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#yellow {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#purple {
  background-color: purple;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#orange {
  background-color: orange;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.emptyCircle {
  background-color: gray;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
}

#board {
  background-color: brown;
  text-align: center;
  display: none;
}
